<div class="container fourth-step">
  <form class="form-horizontal">
    <div class="form-group">
      <label class="col-sm-3 control-label">探索名称：</label>
      <div class="col-sm-9">
        <input type="text" ng-model="data.fourthStep.defineName" class="form-control" placeholder="请输入探索名称(若不填写则系统默认命名)">
      </div>
    </div>
    <div class="form-group">
      <label class="col-sm-3 control-label">探索描述：</label>
      <div class="col-sm-9">
        <textarea ng-model="data.fourthStep.defineDescription" class="form-control" placeholder="请输入数据探索的描述(若不填写则使用系统默认描述)" rows="3"></textarea>
      </div>
    </div>
  </form>
</div>
