<div class="welcome-box">
  <div class="info-box">
    <p class="welcome-text">欢迎来到SmartView,开启你的数据之旅！</p>
    <div class="btn-row">
      <button class="btn btn-default create-canvas-btn" ng-click="default.createCanvas()">创建视图</button>
      <button class="btn btn-default canvas-list-btn" ng-click="default.getCanvasList()">我的视图</button>
    </div>
  </div>
  <p class="history-text">历史浏览</p>
  <div class="canvas-list">
    <div class="canvas-item" ng-click="default.gotoCanvas(88)">
      <img src="../../../../assets/imgs/pre_1.png" alt="视图" class="canvas-item-img canvas-item-img-pic">
      <p class="canvas-item-title">视图1</p>
    </div>
    <div class="canvas-item" ng-click="default.gotoCanvas(88)">
      <img src="../../../../assets/imgs/pre_1.png" alt="视图" class="canvas-item-img canvas-item-img-pic">
      <p class="canvas-item-title">视图2</p>
    </div>
    <div class="canvas-item" ng-click="default.gotoCanvas(88)">
      <img src="../../../../assets/imgs/pre_1.png" alt="视图" class="canvas-item-img canvas-item-img-pic">
      <p class="canvas-item-title">视图3</p>
    </div>
    <div class="canvas-item" ng-click="default.gotoCanvas(88)">
      <img src="../../../../assets/imgs/pre_1.png" alt="视图" class="canvas-item-img canvas-item-img-pic">
      <p class="canvas-item-title">视图4</p>
    </div>
    <div class="canvas-item" ng-click="default.gotoCanvas(88)">
      <img src="../../../../assets/imgs/pre_1.png" alt="视图" class="canvas-item-img canvas-item-img-pic">
      <p class="canvas-item-title">视图5</p>
    </div>
    <div class="canvas-item" ng-click="default.gotoCanvas(88)">
      <img src="../../../../assets/imgs/pre_1.png" alt="视图" class="canvas-item-img canvas-item-img-pic">
      <p class="canvas-item-title">视图6</p>
    </div>
    <div class="canvas-item" ng-click="default.gotoCanvas(88)">
      <img src="../../../../assets/imgs/pre_1.png" alt="视图" class="canvas-item-img canvas-item-img-pic">
      <p class="canvas-item-title">视图7</p>
    </div>
    <div class="canvas-item" ng-click="default.gotoCanvas(88)">
      <img src="../../../../assets/imgs/pre_1.png" alt="视图" class="canvas-item-img canvas-item-img-pic">
      <p class="canvas-item-title">视图8</p>
    </div>
  </div>
</div>
