<header-bar></header-bar>
<div class="relation-page">
    <div bread-crumbs></div>
    <div class="container">
        <div class="base-info-box">
            <div class="column">
                <h4>基本信息</h4>
                <div class="row">
                    <label for="">关系中文名字</label>
                    <span>{{relationPage.name}}</span>
                </div>
                <div class="row">
                    <label for="">关系英文名字</label>
                    <span>{{relationPage.code}}</span>
                </div>
                <div class="row">
                    <label for="">关系描述</label>
                    <span>{{relationPage.description}}</span>
                </div>
                <div class="row">
                    <label for="">业务分类</label>
                    <span>-</span>
                </div>
                <div class="row">
                    <label for="">来源系统</label>
                    <span>-</span>
                </div>
                <div class="row">
                    <label for="">创建时间</label>
                    <span>-</span>
                </div>
            </div>
            <div class="column">
                <h4>业务信息</h4>
                <div class="row">
                    <label for="">业务负责人</label>
                    <span>-</span>
                </div>
                <div class="row">
                    <label for="">安全接口人</label>
                    <span>-</span>
                </div>
                <div class="row">
                    <label for="">安全等级</label>
                    <span>-</span>
                </div>
                <div class="row">
                    <label for="">热度</label>
                    <span>-</span>
                </div>
            </div>
            <div class="column">
                <h4>统计信息</h4>
                <div class="row">
                    <label for="">调用次数</label>
                    <span>-</span>
                </div>
                <div class="row">
                    <label for="">浏览次数</label>
                    <span>-</span>
                </div>
                <div class="row">
                    <label for="">收藏次数</label>
                    <span>-</span>
                </div>
                <div class="row">
                    <label for="">表数量</label>
                    <span>-</span>
                </div>
            </div>
        </div>
        <div class="entity-box">
            <h4>实体关联</h4>
            <div class="entity-box">
                <div class="item" ng-repeat="item in relationPage.relationInfo.associatedEntities" ng-click="relationPage.gotoEntityPage(item.code)">{{item.name}}</div>
            </div>
        </div>
        <div class="cluster-dag-box">
            <span>对应的表</span>
            <span class="right-title">血缘关系</span>
            <div cluster-dag ng-if="relationPage.linkData.length!==0" data="relationPage.linkData"></div>
        </div>
    </div>
</div>
