<div ng-show="info.isShow">
    <ul class="dropdown-menu mutipile-dropdown-menu" role="menu" aria-labelledby="dLabel" ng-style="{'top':info.y,'left':info.x}">
        <!-- <li>{{isShow}}</li>
	    <li class="dropdown-submenu mutipile-dropdown-submenu">
	        <a tabindex="-1" href="#">更多选项</a>
	        <ul class="dropdown-menu">
	            <li>测试1</li>
	            <li>测试2</li>
	        </ul>
	    </li> -->
        <!-- <li ng-repeat="item in info.data">
            <div ng-include src="'menu-item'"></div>
        </li> -->
        <li ng-repeat="item in info.data" ng-class="{'dropdown-submenu':item.children&&item.children.length>0}">
            <a tabindex="-1" href="#" ng-click="openTagModal(item,$event)">{{item.name}}</a>
            <div ng-include src="'menu-item'" ng-if="item.children&&item.children.length>0"></div>
        </li>
    </ul>
    <script type="text/ng-template" id="menu-item">
        <ul class="dropdown-menu">
            <li ng-repeat="child in item.children" ng-class="{'dropdown-submenu':child.children&&item.children.length>0}">
                <a tabindex="-1" ng-click="openTagModal(child,$event)">{{child.name}}</a>
                <div ng-include src="'menu-item'" ng-if="child.children&&child.children.length>0"></div>
            </li>
        </ul>
    </script>
</div>
